/*Body style*/
body {
    background-color: #8d729e;
    margin: 0%;
}

.paragraph {
    padding-left: 16px;
    text-align: center;
}

/* Purple background for navigation bar */
.navbar {
    background-color: #ffffff00;
    overflow: hidden;
}

.navbar a {
    float: center;
    color: #adadad80;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
}

.navbar a:hover {
    color: #ffffff80;
}

.navbar a:active {
    color: #ffdb15;
}